# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



.env
node_modules

new datbase: username:mkori5778_db_user   password:AHEJEyZ6P29tBVtU
connection string: mongodb+srv://mkori5778_db_user:AHEJEyZ6P29tBVtU@cluster0.gynugdr.mongodb.net/?appName=Cluster0




wlJSe%YOc6d2